body {
  counter-reset: section;                    /* Set the section counter to 0 */
}

.with-counter h2::before {
  display: inline;
  counter-increment: section;
  content: counter(section) ". ";
  color: #337ab7;
}
