{% extends "base.html" %}

{% block title %}You did not invert challenge {{ identifier }}...{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-xs-12">
      <p class="lead">Your attempt to invert the ciphertext <code>{{ ciphertext }}</code> for challenge {{ identifier }} is incorrect.</p>
      <p class="lead">The submitted plaintext <code>{{ plaintext }}</code>.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-4 col-xs-10 col-xs-offset-2">
      <img src="/static/images/sadbanana.gif" class="img-responsive" alt="Responsive image">
    </div>
  </div>

{% endblock %}
