<div class="row">

  <div class="col-md-6">
    <div class="panel panel-red panel-big">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-line-chart fa-5x"></i>
          </div>
          <div class="col-xs-offset-1 col-xs-8 text-right">
            <div class="huge">
	      {% if current_user.strawberries_ranking %}
		#{{ current_user.strawberries_ranking }}
	      {% else %}
		-
	      {% endif %}
	    </div>
	    <div>Strawberries Ranking</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-yellow  panel-big">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-bar-chart fa-5x"></i>
          </div>
          <div class="col-xs-offset-1 col-xs-8 text-right">
            <div class="huge">
	      {% if current_user.bananas_ranking %}
		#{{ current_user.bananas_ranking }}
	      {% else %}
		-
	      {% endif %}
	    </div>
	    <div>Bananas Ranking</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-clock-o fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ programs_queued|length }}</div>
	    <div>Challenge{% if programs_queued|length > 1 %}s{% endif %} Pending Validation</div>
          </div>
        </div>
      </div>
      <a href="#challenges">
        <div class="panel-footer">
          <span class="pull-left">Scroll to Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-eye fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ programs|length }}</div>
            <div>Published Challenge{% if programs|length > 1 %}s{% endif %}!</div>
          </div>
        </div>
      </div>
      <a href="#breaks">
        <div class="panel-footer">
          <span class="pull-left">Scroll to Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-eye-slash fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ programs_rejected|length }}</div>
            <div>Rejected Challenge{% if programs_rejected|length > 1 %}s{% endif %}!</div>
          </div>
        </div>
      </div>
      <a href="#breaks">
        <div class="panel-footer">
          <span class="pull-left">Scroll to Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>

</div><!-- row  -->
