{% extends "base.html" %}

{% block title %}
Trying to Invert Challenge {{ identifier }}
{% endblock %}


{% block content %}

{% import 'form_element.html' as formidable %}

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">

        <p class="lead">This challenge is worth {{ carrots | round(2) or 0 }} carrots 🥕 !</p>

        <form id="form" class="form-signin" method="post">
          {{ form.hidden_tag() }}
          <fieldset>
            <div>
              <label class="control-label" id="plaintext">Please provide the plaintext of <code>{{ ciphertext }}</code></label>
            </div>
            <div class="form-group{% if form.plaintext.errors %} has-error has-feedback{% endif %}" id="plaintext-form-group">
              {% for error in form.plaintext.errors %}
              <label class="control-label" for="plaintext">{{ error }}</label>
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              {% endfor %}
              <label for="plaintext" class="sr-only">Key</label>
              <input type="hidden" name="ciphertext" id="ciphertext" class="form-control}" placeholder="Ciphertext" value="{{ ciphertext }}">
              <input type="text" name="plaintext" id="plaintext" class="form-control{% if form.plaintext.errors %} form-control-warning{% endif %}" placeholder="Plaintext" value="{% if form.plaintext.data %}{{ form.plaintext.data }}{% endif %}" oninput="window.crx_wb.plaintextChanged(this)" autocomplete="off" style="transition: border-color, 0.4s;" autofocus="">
              <label class="control-label" id="plaintext-ko">  </label>
            </div>

            {{ formidable.recaptcha(form.recaptcha, testing) }}

            <button class="btn btn-lg btn-primary btn-block" id="submitButton">Submit your key candidate</button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block javascript %}
<script src="/static/js/plaintext-validator.js"></script>
{% endblock %}
