<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">The WhibOx Contest - CTF CHES 2017</a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
	{% if current_user.is_authenticated %}
	  Logged in as {{ current_user.username }}
	{% endif %}
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-users">
	{% if current_user.is_authenticated %}
          <li><a href="/user/show"><i class="fa fa-user fa-fw"></i> Your Dashboard</a></li>
          <li class="divider"></li>
          <li><a href="/user/signout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
	{% else %}
          <li><a href="/user/create"><i class="fa fa-user fa-fw"></i> Create an Account</a></li>
          <li class="divider"></li>
          <li><a href="/user/signin"><i class="fa fa-sign-in fa-fw"></i> Sign in</a></li>
	{% endif %}
      </ul><!-- /.dropdown-user -->
    </li><!-- /.dropdown -->
  </ul><!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li class="{% if active_page == 'index' %} active{% endif %}">
          <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
        <li class="{% if active_page == 'user_show' %} active{% endif %}">
          <a href="/user/show"><i class="fa fa-files-o fa-fw"></i> Your Dashboard</a>
        </li>
        <li class="{% if active_page == 'submit_candidate' %} active{% endif %}">
          <a href="/submit/candidate"><i class="fa fa-cloud-upload fa-fw"></i> Submit a Challenge</a>
        </li>
        <li class="{% if active_page == 'rules' %} active{% endif %}">
          <a href="/rules"><i class="fa fa-book fa-fw"></i> Competition Rules</a>
        </li>
	<li style="height: 2em; background-color: #fafafa;"></li>
	{% if not current_user.is_authenticated %}
          <li class="{% if active_page == 'user_create' %} active{% endif %}">
            <a href="/user/create"><i class="fa fa-user fa-fw"></i> Create an Account</a>
          </li>
          <li class="{% if active_page == 'user_signin' %} active{% endif %}">
            <a href="/user/signin"><i class="fa fa-sign-in fa-fw"></i> Sign in</a>
          </li>
	{% else %}
          <li>
            <a href="/user/signout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
          </li>
	{% endif %}
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
