{% extends "base_user_account.html" %}

{% block title %}Login{% endblock %}

{% block form %}

{% import 'form_element.html' as formidable %}

<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
<div class="col-lg-7">
  <div class="p-5">
    <div class="text-center">
      <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
    </div>
    <form class="user", method="post">
      {{ form.hidden_tag() }}
      <fieldset>

        {{ formidable.input(form.username, 'Username', autofocus=true) }}

        <p><small>An <strong>optional</strong> nickname can be chosen to personalize your name in the dashboard.</small></p>

        {{ formidable.input(form.nickname, 'Nickname', autofocus=true) }}

        <p>
          <small>
            An email address is required in case the organizing committee needs to contact you.
            This email address will <strong>not</strong> be shown to other participants.
            Please note that you will <strong>not</strong> be able to modify it and that the existence of this address will <strong>not</strong> be checked.
          </small>
        </p>

        {{ formidable.input(form.email1, 'Email address') }}
        {{ formidable.input(form.email2, 'Re-type email address') }}

        <p><small>
          Please choose your password carefully as you will <strong>not</strong> be able to modify it.
          If you forget it, you will lose access to your account and will <strong>not</strong> be able to claim your prize/glory!
        </small></p>

        {{ formidable.input(form.password1, 'Password') }}
        {{ formidable.input(form.password2, 'Re-type password') }}


        {{ formidable.recaptcha(form.recaptcha, testing) }}

        <button class="btn btn-lg btn-primary btn-user btn-block" type="submit">Create your Account</button>

      </fieldset>

    </form>
    <hr>
    <div class="text-center">
      <a class="small" href="login">Already have an account? Login!</a>
    </div>
  </div>
</div>

{% endblock %}
