{% extends "base.html" %}

{% block title %}Competition Rules{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <p>The competition is run by the ORGANIZING COMMITTEE.</p>
    </div>
  </div>

  <div class="row with-counter">

    <div class="col-xs-12 col-lg-5">
      <h2>User accounts</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Anyone can create an account and post one or several challenges and/or break one or more challenges on the WhibOx Edition 2 competition website.</p>
          <p>The account owner may remain completely anonymous when creating an account. In addition to creating a login/password, an email address must be entered (in case the ORGANIZING COMMITTEE needs to contact the owner directly). However, the email address is not verified except for basic syntax. Users may e.g. enter their primary email address or, if they are willing to remain anonymous, may use a free service such as <a href="https://www.mailinator.com">Mailinator</a> to create an untraceable email address.</p>
          <p>The same person may create several accounts. User accounts are password-protected but passwords CANNOT BE CHANGED and are NOT RECOVERABLE in case of loss. It is the users' responsibility to choose a strong enough password and to keep it in a safe place. Winners will be asked to log in and reveal their real name on the competition website if they want to be publicly awarded during the prize ceremony.</p>
          <p>Every newly registered user, referred to as a contestant, is assigned a BANANA score initialized to 0.</p>
          <p>The website is public in the sense that anyone can freely browse it (including downloading challenges) but logging in is required to post or break challenges.</p>
          <p>The competition website is referred to as the SYSTEM.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-7">
      <h2>What is a challenge?</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>A challenge is a C source program that contains a function with prototype</p>
          <pre>void AES_128_encrypt(unsigned char ciphertext[16], unsigned char plaintext[16]);</pre>
                <p>It implements an AES-128 encryption under some 128-bit key embedded into the code. The function <code>AES_128_encrypt(ciphertext, plaintext)</code> takes a 128-bit plaintext block as input (as a pointer on an array of 16 bytes) and writes the corresponding 128-bit ciphertext (as an array of 16 bytes) at the given address.</p>
                <p>The C language is the one accepted by either GCC 8.2.0 or TCC 0.9.27 with NO additional language dialect options. Contestants may freely choose which compiler is to be used when the SYSTEM validates the challenge program. The source code must be completely portable and re-compilable towards any target architecture. In other words, it must be made only of generic C which in particular, excludes the use of inline assembly. Note that there is no restriction to a 32-bit architecture as in the first edition of the WhibOx contest. Native 64-bit operations are supported by default and contestants may use them as they see fit.</p>
                <p> No <code>#include</code> or <code>extern</code> is allowed in the source code, and more generally linking to external libraries (even the standard C libraries) is forbidden. This is intended to prevent the inclusion of malware in submitted challenges. Any attempt to maliciously attack the SYSTEM or the computer system of contestants will lead to DISQUALIFICATION. In case evidence of malicious code is found in a challenge, contestants are invited to report the issue to the ORGANIZING COMMITTEE directly (whibox.organizing.committee@gmail.com). If contestants are suspicious that some challenge program may contain malware, they may run GCC or TCC in docker or a virtual machine, exactly like the server does (using VirtualBox).</p>
                <p> Documentation on how the server runs is found on <a href="https://github.com/CryptoExperts/wb_contest_submission_server">GitHub</a>. Contestants are invited to download and install their own instance of the server if they want to ensure that their challenge will be accepted when submitted.</p>
          <p><strong>IPR and copyright disclaimer:</strong> contestants may indicate (typically in a header in their source) which license applies to their challenge program, if any.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-5">
      <h2>Requirements on the source and executable</h2>
      <div class="panel panel-default">
        <div class="panel-body">
                <ul>
                        <li>The source code must be no bigger than <strong>{{ challenge_max_source_size_in_mb }}MB</strong>.</li>
                        <li>The REFERENCE COMPILERS must use at most <strong>{{ challenge_max_mem_for_compilation_in_mb }}MB</strong> of RAM to complete compilation.</li>
                        <li>The compilation must not exceed <strong>{{ challenge_max_time_for_compilation_in_secs }} seconds</strong>.</li>
                        <li>The following character strings are forbidden in the source code:
                                <ul>
                                        <li><code>"#include"</code></li>
                                        <li><code>"extern"</code></li>
                                        <li><code>"_FILE__"</code></li>
                                        <li><code>"__DATE__"</code></li>
                                        <li><code>"__TIME"</code></li>
                                        <li><code>"__STDC_"</code></li>
                                        <li><code>"__asm__"</code></li>
                                        <li><code>"(wsp)asm(nan)"</code></li>
                                </ul>
                                where <code>"(wsp)"</code> indicates a white space and <code>"(nan)"</code> indicates any non-alphanumeric character. An occurence of either of these strings will lead to a rejection of the challenge program, even if they are embedded in (arbitrarily nested) quoted strings. </li>
                        <li>The executable must be <strong>{{ challenge_max_binary_size_in_mb }}MB</strong> in size or less,</li>
                <li>The executable must use <strong>{{ challenge_max_mem_execution_in_mb }}MB</strong> of RAM or less (this includes the stack and all global variables, at the exclusion of the code itself),</li>
                <li>The executable must run in <strong>{{ challenge_max_time_execution_in_secs }} second</strong> or less per function call. This is not absolute time but CPU time, measured within a VirtualBox VM by the SYSTEM. Contestants may check that their challenges comply with this limitation by using the utility <code>ulimit</code> with the <code>-t</code> option.</li>
                </ul>
          <p>The SYSTEM will reject a program that does not comply with these requirements.</p>
          <p>Compliance with the requirements can be tested by downloading and running a local instance of the submission server found <a href="https://github.com/CryptoExperts/wb_contest_submission_server">here</a>.</p>
        </div>
      </div>
    </div>

    <!-- <div class="clearfix visible-lg-block"></div> -->

    <div class="col-xs-12 col-lg-7">
      <h2>Posting a challenge</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>A contestant who posts a new challenge must temporarily reveal the embedded key to the SYSTEM for the purpose of verifying the consistency of the challenge program. The key is erased from the SYSTEM as soon as it has determined whether it is consistent or not with the challenge. This is done as follows.</p>
          <p><strong>Challenge-key verification procedure</strong></p>
          <ol>
            <li>The SYSTEM uses the REFERENCE IMPLEMENTATION of AES-128 to generate a number of random plaintext-ciphertext pairs under the given key. The number of pairs is determined by the SYSTEM but is at least 1000. Once this is done, the key is erased from the SYSTEM.</li>
            <li>The SYSTEM compiles the challenge program and checks that it complies with the above requirements. If not, the challenge is rejected.</li>
            <li>For each plaintext-ciphertext pair, the SYSTEM runs the executable on the plaintext and checks that the output is equal to the ciphertext.</li>
            <li>In case of mismatch, the procedure halts, the challenge program is rejected and the mismatching plaintext-ciphertext pair is returned to the submitting contestant.</li>
            <li>The SYSTEM selects a plaintext-ciphertext pair, hashes the plaintext, deletes it from memory and attaches the ciphertext to the challenge for the purpose of INVERSION.</li>
            <li>Finally, the challenge program is validated and:</li>
            <ol>
              <li>given a name by the system,</li>
              <li>assigned a PERFORMANCE SCORE (see below)</li>
              <li>declared as STANDING,</li>
              <li>assigned a STRAWBERRY score and a CARROT score both initialized to 0.</li>
            </ol>
          </ol>
          <p><strong>Programmatic API access to input-output pairs</strong></p>
          <p>When accepted, the challenge is published on the website for anyone to download and play with. In addition, a small subset of random plaintext-ciphertext pairs is kept by the SYSTEM for later verification of candidate keys. The number of pairs is determined by the SYSTEM but is at least 10. These pairs can be recovered as a JSON object with the following HTTP request:</p>
          <p><code>GET https://test.cyber-crypt.com/whibox-contest/show/candidate/{id}/testvectors</code></p>
          <p>where <code>{id}</code> is the integer identifier of the challenge (not its name). No authentication is required. Example output:</p>
          <pre class='pre-scrollable' style="height: 150px;"><code>{
    "id": 35,
    "test_vectors": [{
             "ciphertext": "4d05886d8f6d8fee136b9c6b75d2a753",
             "plaintext": "79eff209372700ba9ce2623b2fdb95f3"
        }, {
             "ciphertext": "e6ea072912bf6ba04c8fe9c4215f9ad4",
             "plaintext": "d38c88f2c31ac6ec7df1414150d55fa2"
        }, {
             "ciphertext": "3f82dfbe892f25bcfd756f4519b1c13b",
             "plaintext": "b1d74f9cca796c5d523859c43c614cf9"
        }, {
             "ciphertext": "20903a77e0a9188b6736ec9de6138fc7",
             "plaintext": "9d8ba8a29bf95ba26394624f3c89fb61"
        }, {
             "ciphertext": "ba899a8f85d274d7eb62638f86943432",
             "plaintext": "295df29c62f81a20eed0c1d70a2b5db4"
        }, {
             "ciphertext": "2666fd8172769c66093d7c7074bad088",
             "plaintext": "24b92c789dda5a079d065f396cb73559"
        }, {
             "ciphertext": "8e3de268154d6ef98c5ff1c2fd200192",
             "plaintext": "9490098f4ccbaad5ff04b463d3339dce"
        }, {
             "ciphertext": "6bf067d0d06814a64faa08c9bc62c09d",
             "plaintext": "446a591cdd83d15f2aae83888ce0197d"
        }, {
             "ciphertext": "00579a1abcec3132041b8888c06d5491",
             "plaintext": "e7b8d53ae7d7ea6cbfebd49d0d5ff769"
        }, {
             "ciphertext": "0f598d59d2881df6a32dd83277b25a4f",
             "plaintext": "798252d2f3d8f43f6360655b06fb8fba"
        }]
}</code></pre>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-12">
      <h2>Performance scores</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>The performance score of a challenge is measured by the SYSTEM when validating its consistency at posting time. Challenges with a higher performance score collect STRAWBERRY and CARROT points faster. The score is assigned as follows.</p>
          <p><strong>Execution time.</strong> The SYSTEM measures the average CPU time consumed by the challenge program and determines the fraction \[f_{time} = \frac{\text{average time}}{1 \text{ second} }\;.\]</p>
          <p><strong>Code size.</strong> The SYSTEM measures the size of the executable and determines the fraction \[f_{size} = \frac{\text{code size}}{20 \text{ MB} }\;.\]</p>
          <p><strong>RAM usage.</strong> The SYSTEM measures the average RAM consumption of the executable and determines the fraction \[f_{memory} = \frac{\text{average RAM}}{20 \text{ MB} }\;.\]</p>
          <p>The performance score of the challenge is evaluated as \[\mathit{perf\_score} = \log_2 \left(\frac{2}{f_{time} \cdot f_{size} \cdot f_{memory}}\right)\;.\]</p>
          <p>Note that the performance score of a challenge that meets the allowed maximal limits is equal to \(1\). Challenges that are either smaller, faster or less memory-consuming get a higher perfomance score.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-6">
      <h2>Winning strawberries</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>A contestant may post challenges anytime between the STARTING DATE and the POSTING DEADLINE.</p>
          <p>A challenge gets more and more STRAWBERRIES as time goes by, as long as it is not BROKEN. In this second edition of the competition, time has a granularity of 1 minute instead of 1 day.</p>
          <p>At the time \(t_{post}\) the challenge is posted, its STRAWBERRY score is set to \(0\). The STRAWBERRY score then increases quadratically with time as \[\mathtt{strawberries} = \mathit{perf\_score} \times \left(\frac{t-t_{post}}{24\cdot 60}\right)^2\] where \(t-t_{post}\) is the number of minutes elapsed since the challenge was posted and \(\mathit{perf\_score}\in[1,+\infty)\) is its performance score (see above).</p>
          <p>If the challenge is BROKEN for the first time at time \(t_{break}\), its STRAWBERRY score becomes \[\mathtt{strawberries} = \mathit{perf\_score} \times \left(\frac{t_{break}-t_{post}-\left(t - t_{break}\right)}{24\cdot 60}\right)^2 \;,\] meaning that its progression is reversed symmetrically until it reaches \(0\). It then sticks to it.</p>
          <p>When the FINAL DEADLINE is reached, the STRAWBERRY scores of all challenges freeze.</p>
        </div>
      </div>
    </div>

    <!-- <div class="clearfix visible-lg-block"></div> -->

    <div class="col-xs-12 col-lg-6">
      <h2>Bonus (carrot) points</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>This edition 2 of the WhibOx contest introduces bonus points called CARROTS. The CARROT score of a challenge progresses similarly as STRAWBERRIES (but counts for only half of these) until the challenge is INVERTED or BROKEN for the first time. The CARROT score then decreases symmetrically back to \(0\).</p>
          <p>At posting time, a random ciphertext is assigned to the challenge. INVERTING the challenge means that a contestant successfully recovered the plaintext matching that ciphertext. Note that this does not necessarily imply BREAKING the challenge; it is enough to reverse its flow of operations and perform AES decryption on that one ciphertext, which may be much easier.</p>
          <p>The CARROT score evaluates as \[\mathtt{carrots} = \frac 12 \times \mathit{perf\_score} \times \left(\frac{t-t_{post}}{24\cdot 60}\right)^2\] for \(t_{post}\leq t \leq t_{attack}\) and \[\mathtt{carrots} = \frac 12 \times \mathit{perf\_score} \times \left(\frac{t_{attack}-t_{post}-\left(t - t_{attack}\right)}{24\cdot 60}\right)^2\] for \(t_{attack}\leq t\leq 2\cdot t_{attack} - t_{post}\). It then sticks to \(0\) for later times \(t\). Here, \(t_{attack}\) stands for the time (measured in minutes) at which the challenge was first INVERTED or BROKEN.</p>
          <p>Note that the CARROT and STRAWBERRY scores are independent until a BREAK occurs. INVERTING a STANDING challenge does not affect the progression of STRAWBERRIES; however a BREAK immediately reverses the progression of both STRAWBERRIES and CARROTS.</p>
          <p>When the FINAL DEADLINE is reached, the CARROT scores of all challenges freeze.</p>
        </div>
      </div>
    </div>

    <!-- <div class="clearfix visible-lg-block"></div> -->

    <div class="col-xs-12 col-lg-6">
      <h2>Breaking challenges</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>A contestant may BREAK any challenge by submitting a candidate key to the SYSTEM. The challenge may be STANDING, INVERTED or already BROKEN.</p>
          <p><strong>Key verification procedure:</strong> Given the submitted key, the SYSTEM fetches the recorded plaintext-ciphertext pairs attached to the challenge and uses the AES REFERENCE IMPLEMENTATION again to check that the key matches all the pairs. The key is erased as soon as the verification is completed.</p>
          <p>In case of mismatch, the mismatching pair is returned to the submitting contestant and the break is rejected. Otherwise, the submitting contestant is notified that the break is accepted. If the challenge was STANDING or INVERTED, it is declared as BROKEN at the time the SYSTEM accepted the break.</p>
          <p>Contestants may BREAK challenges until the FINAL DEADLINE.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-6">
      <h2>Inverting challenges</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>A contestant may INVERT any challenge by submitting a candidate plaintext to the SYSTEM. The challenge may be STANDING, BROKEN or already INVERTED.</p>
          <p><strong>Plaintext verification procedure:</strong> Given the submitted plaintext, the SYSTEM fetches the hashed plaintext attached to the challenge and checks that the plaintext is consistent. The plaintext is erased as soon as the verification is complete.</p>
          <p>In case of mismatch, the INVERSION is rejected. Otherwise, the submitting contestant is notified that the INVERSION is accepted. If the challenge was STANDING, it is declared as INVERTED at the time the SYSTEM accepted the INVERSION.</p>
          <p>Contestants may INVERT challenges until the FINAL DEADLINE.</p>
        </div>
      </div>
    </div>

    <div class="clearfix visible-lg-block"></div>

    <div class="col-xs-12 col-lg-5">
      <h2>Winning bananas</h2>
      <div class="panel panel-default">
        <div class="panel-body">
                <p>A contestant whose BREAK has been accepted by the SYSTEM gets a chance to increase their BANANA score. Noting \(\mathtt{strawberries}\) the current STRAWBERRY score of the challenge and \(\mathtt{bananas}\) the contestant's current BANANA score, \(\mathtt{bananas}\) is updated as \[\mathtt{bananas} = \max(\mathtt{bananas}, \mathtt{strawberries})\;.\]</p>
                <p>Similarly, the BANANA score of a contestant whose INVERSION has been accepted by the SYSTEM is updated as \[\mathtt{bananas} = \max(\mathtt{bananas}, \mathtt{carrots})\] where \(\mathtt{carrots}\) is the current CARROT score of the challenge.</p>
        </div>
      </div>
    </div>

    <!-- <div class="clearfix visible-lg-block"></div> -->

    <div class="col-xs-12 col-lg-7">
      <h2>Winning the competition</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>The winners are determined at the time of the FINAL DEADLINE. There are 2 winners, the STRAWBERRY WINNER and the BANANA WINNER.</p>
          <h3>The strawberry winner</h3>
          <p>The WINNING CHALLENGE is the challenge (STANDING, INVERTED or BROKEN) which STRAWBERRY score has reached the highest peak between the STARTING DATE and the FINAL DEADLINE.</p>
          <p>The STRAWBERRY WINNER is the contestant who posted the WINNING CHALLENGE.</p>
          <p>There may be several WINNING CHALLENGEs and STRAWBERRY WINNERs (no tie-breaking rule).</p>
          <h3>The banana winner</h3>
          <p>The BANANA WINNER is the contestant with the highest BANANA score at the time of the FINAL DEADLINE.</p>
          <p>There may be several BANANA WINNERs (no tie-breaking rule).</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <h2>Disqualification</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>At any time, the ORGANIZING COMMITTEE may DISQUALIFY a contestant in case of misconduct during the competition. Examples of misconduct include</p>
          <ul>
            <li>posting a challenge program that does not implement AES-128,</li>
            <li>posting a challenge program that contains malware,</li>
            <li>attempting to attack/hack the SYSTEM or the computer system of contestants in any manner.</li>
          </ul>
          <p>The user account of a DISQUALIFIED contestant is disabled and challenges that the contestant has posted may be withdrawn from the competition on a case-by-case basis.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <h2>Terms of reference</h2>
      <h3>Important dates</h3>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <tbody>
            <tr><td>STARTING DATE</td><td>March 18, 2019 @ 00:00 UTC</td></tr>
            <tr><td>POSTING DEADLINE</td><td>August 1, 2019 @ 00:00 UTC</td></tr>
            <tr><td>FINAL DEADLINE</td><td>August 21, 2019 @ 12:00 UTC (4 days before CHES 2019)</td></tr>
          </tbody>
        </table>
      </div>
      <h3>System and challenges</h3>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <tbody>
            <tr><td>SYSTEM</td><td>Server comprising the competition website and tools for compiling and testing challenge programs. The compilation environment is fully described in <a href="https://github.com/CryptoExperts/wb_contest_submission_server/blob/master/services/compile_and_test/Dockerfile">this dockerfile</a>.</td></tr>
            <tr><td>REFERENCE COMPILERS</td><td>Option 1: <code>gcc</code> with option <code>-nostdinc</code> (version 8.2.0)</br>Option 2: <code>tcc</code> with option <code>-nostdinc</code> (version 0.9.27)</td></tr>
            <tr><td>REFERENCE IMPLEMENTATION</td><td><code>aes.c</code> file available from <a href="https://github.com/CryptoExperts/wb_contest_submission_server">this GitHub repository</a>.</td></tr>
                        <tr><td>BROKEN (challenge)</td><td> At least one contestant has been able to provide the SYSTEM with an AES-128 key that passes the key verification procedure.</td></tr>
                        <tr><td>INVERTED (challenge)</td><td> The challenge is not BROKEN and at least one contestant has been able to provide the SYSTEM with an AES-128 plaintext that passes the plaintext verification procedure.</td></tr>
            <tr><td>STANDING (challenge)</td><td>A challenge that is neither INVERTED nor BROKEN.</td></tr>
          </tbody>
        </table>
      </div>
      <h3>Winning contestants</h3>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <tbody>
            <tr><td>WINNING CHALLENGE</td><td>Challenge which STRAWBERRY score has reached the highest peak between the STARTING DATE and the FINAL DEADLINE.</td></tr>
            <tr><td>STRAWBERRY WINNER</td><td>Contestant who posted the WINNING CHALLENGE.</td></tr>
            <tr><td>BANANA WINNER</td><td>Contestant with the highest BANANA score at the time of the FINAL DEADLINE.</td></tr>
            <tr><td>STRAWBERRY</td><td>🍓</td></tr>
        <tr><td>BANANA</td><td>🍌</td></tr>
        <tr><td>CARROT</td><td>🥕</td></tr>
            <tr><td>DISQUALIFIED (contestant)</td><td> Misconducting contestant excluded from the competition and whose challenges may be withdrawn.</td></tr>
          </tbody>
        </table>
                        </div>


      <h3>Organizing committee</h3>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <tbody>
            <tr><td><strong>Members</strong></td><td>Yunsi Fei, Vincent J. Mooney III and Patrick Schaumont (General Chairs of CHES 2019), Andrey Bogdanov and Stefan Kölbl (CyberCrypt), Louis Goubin, Pascal Paillier, Matthieu Rivain and Junwei Wang (CryptoExperts).</td></tr>
            <tr><td><strong>Email</strong></td><td>whibox.organizing.committee@gmail.com</td></tr>
            <tr><td><strong>Twitter</strong></td><td>@WhiboxC (WhibOx Contest Organizing Committee)</td></tr>
          </tbody>
        </table>
      </div>

    </div>
  </div><!-- .row -->
{% endblock %}

{% block javascript %}
  <script type="text/javascript" async
          src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
{% endblock %}
