<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <img src="/static/images/logo.png" class="img-fluid">
    </div>
    <div class="sidebar-brand-text mx-3">Edition<sup>3</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item {% if active_page == 'index' %} active{% endif %}">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Nav Item - Competition rules -->
  <li class="nav-item {% if active_page == 'rules' %} active{% endif %}">
    <a class="nav-link" href="/rules">
      <i class="fas fa-fw fa-book"></i>
      <span>Rules</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">


  {% if current_user.is_authenticated %}

  <!-- Nav Item - Competition rules -->
  <li class="nav-item {% if active_page == 'user_show' %} active{% endif %}">
    <a class="nav-link" href="/user/show">
      <i class="fas fa-fw fa-user-ninja"></i>
      <span>Your space</span></a>
  </li>

  <li class="nav-item {% if active_page == 'submit_candidate' %} active{% endif %}">
    <a class="nav-link" href="/submit/candidate">
      <i class="fas fa-fw fa-upload"></i>
      <span>Submit a challenge</span></a>
  </li>

  {% else %}
  <li class="nav-item {% if active_page == 'user_show' %} active{% endif %}">
    <a class="nav-link" href="/user/show">
      <i class="fas fa-fw fa-sign-in-alt"></i>
      <span>Login</span></a>
  </li>
  {% endif %}

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">


  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
