<div class="table-responsive">
  <table class="table table-striped table-bordered data-table table-hover">
    <thead>
      <tr>
	<th class='column-to-sort-first text-center'>Submission Date</th>
	<th class="text-center">id</th>
	<th class="text-center">Status</th>
	<th class="text-center">Key</th>
	<th class="text-center">Compiler</th>
	<th class="text-center">Position in the compile queue</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      {% for program in programs_queued %}
	<tr class="text-center">
	  <th scope="row">{{ program.datetime_submitted }}</th>
	  <td class="text-center">{{ program._id }}</td>
	  <td>{{ program.status }}</td>
	  <td>{{ program.key }}</td>
          <td class="compiler text-center">{{ program.compiler }}</td>
	  <td>{{ program.position_in_the_compilation_queue }}</td>
	  <td><a href='/show/candidate/{{ program._id }}' class="btn btn-info btn-sm">source</a></td>
	</tr>
      {% endfor %}
    </tbody>
  </table>
</div>
