<div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
  <table class="table table-striped table-bordered data-table table-hover" style="width: 100%;">
    <thead>
      <tr>
	<th class='column-to-sort-first'>Date</th>
	<th>User</th>
	<th data-type="fruit">Carrots</th>
	<th>Challenge Name</th>
      </tr>
    </thead>
    <tbody>
      {% for wb_invert in wb_inverts %}
	<tr>
	  <th scope="row">{{ wb_invert.datetime_inverted }}</th>
	  <td>
	    {% if current_user.is_authenticated and current_user == wb_invert.user %}
	      <span class="badge badge-info">You!</span>
	    {% else %}
	      {{ wb_invert.user.username }}
	    {% endif %}
	  </td>
	  <td class="text-right">{{ wb_invert.carrots }} 🥕</td>
	  <td>{{ wb_invert.program.funny_name }} ({{ wb_invert.program._id }})</td>
	</tr>
      {% endfor %}
    </tbody>
  </table>
</div>
