<table class="table table-striped table-bordered data-table table-hover no-paging no-info no-search">
  <thead>
    <tr class="text-center">
      <th class='column-to-sort-first asc text-center'>Rank</th>
      <th class="text-center">User</th>
      <th data-type="fruit" class="text-center">Bananas</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr class="text-center">
      <th class="text-center" scope="row">{{ user.bananas_ranking }}</th>
      <td>
        {% if current_user.is_authenticated and current_user == user %}
        <span class="badge badge-info">You!</span>
        {% else %}
        {{ user.nickname or user.username}}
        {% endif %}
      </td>
      <td>{{ user.bananas | round(2) }} 🍌</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
