<div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
  <table class="table table-striped table-bordered data-table table-hover" style="width: 100%;">
    <thead>
      <tr>
	<th class='column-to-sort-first'>Date</th>
	<th>User</th>
	<th data-type="fruit">Strawberries</th>
	<th>Challenge Name</th>
      </tr>
    </thead>
    <tbody>
      {% for wb_break in wb_breaks %}
	<tr>
	  <th scope="row">{{ wb_break.datetime_broken }}</th>
	  <td>
	    {% if current_user.is_authenticated and current_user == wb_break.user %}
	      <span class="badge badge-info">You!</span>
	    {% else %}
	      {{ wb_break.user.username }}
	    {% endif %}
	  </td>
	  <td class="text-right">{{ wb_break.strawberries }} 🍓</td>
	  <td>{{ wb_break.program.funny_name }} ({{ wb_break.program._id }})</td>
	</tr>
      {% endfor %}
    </tbody>
  </table>
</div>
