<div class="table-responsive">
  <table class="table table-striped table-bordered data-table table-hover">
    <thead>
      <tr>
	<th class='column-to-sort-first asc'>Rank</th>
	<th>User</th>
	<th data-type="fruit">Bananas</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
	<tr>
	  <th class="text-center" scope="row">#{{ user.bananas_ranking }}</th>
	  <td>
	    {% if current_user.is_authenticated and current_user == user %}
	      <span class="badge badge-info">You!</span>
	    {% else %}
	      {{ user.username }}
	    {% endif %}
	  </td>
	  <td class="text-right">{{ user.bananas }} 🍌</td>
	</tr>
      {% endfor %}
    </tbody>
  </table>
</div>
