{% extends "base_decorated.html" %}

{% block title %}Your Dashboard{% endblock %}

{% block headerstyles %}
<!-- dataTables -->
<link href="/static/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="card shadow mb-4">
  <div class="card-body">
    {% include 'homepage_boxes.html' %}
  </div>
</div>

<hr>

<div class="row">
  <div class="col-12">
    <h3 class="text-gray-800">Strawberry Scores</h3>
  </div>
</div>

<div class="row">
  <div class="col-xl-10 col-12">

    {% if current_user.programs|length == 0 %}
    <p class="lead">You haven't <strong>submitted</strong> any challenge yet! You can do so by clicking on the <mark>Submit a Challenge</mark> link in the menu bar.</p>

    <div class="text-center">
      <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
           src="/static/images/undraw_uploading.svg" alt="">
    </div>
    {% endif %}

    {% if programs_queued %}
    <h4>Your Challenges Waiting to be Compiled and Tested</h4>
    {% include 'table_challenges_to_compile.html' %}
    {% endif %}

  </div>
</div>

<div class="row">
  <div class="col-12">

    {% if programs %}
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h4 id="challenges" class="m-0 font-weight-bold text-primary">Your Competing Challenges</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          {% include 'table_challenges.html' %}
        </div>
      </div>
    </div>
    {% endif %}

    {% if programs_rejected %}
    <h4>Your Rejected Programs</h4>
    {% include 'table_rejected_challenges.html' %}
    {% endif %}

  </div>
</div>

<hr>

<div class="row">
  <div class="col-12">
    <h3 class="text-gray-800">Banana Scores</h3>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 col-lg-10 col-12">

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Your Challenge Breaks</h4>
      </div>
      <div class="card-body">
        {% if wb_breaks %}
        {% include 'table_breaks.html' %}
        {% else %}
        <p class="lead">You haven't <strong>broken</strong> any challenge yet! You can try to do so by clicking on the <mark>Break</mark> button of any of the challenges listed on the main Dashboard.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% block javascript %}
<script src="/static/js/copy-key.js"></script>

<!-- dataTable -->
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/js/data-table.js"></script>
{% endblock %}

{% endblock %}
